rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /users/{userId} {
      allow create: if true;
      allow read, update, delete: if request.auth.uid == userId;
    		match /tasks/{document=**} {
      		allow create, read, update, delete: if request.auth.uid == userId;
    		}
    		match /pokemon/{document=**} {
              allow create, read, update, delete: if request.auth.uid == userId;
            }
            match /projects/{document=**} {
             allow create, read, update, delete: if request.auth.uid == userId;
            }
    }
  }
}
