@import "src/theme/variables";

#battle-page {
  .battle-area {
    width: 100%;
    margin: 0 auto !important;
    width: 100%;
    max-width: 400px;
  }

  background-color: #EEEEEE;

  .battle-arena {
    background: url("../../assets/images/battle/background/grass1.png") repeat;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 350px;
    max-width: 350px;
  }

  .player1-pkmn {
    position: absolute;
    bottom: 50px;

    &.pos-0 {
      left: 0;
    }

    &.pos-1 {
      left: 40%;
    }

    &.pos-2 {
      right: 0;
    }

    &.active-action {
      .Character {
        border-bottom: 5px solid rgba(56, 128, 255, 0.6);
      }
    }
  }

  .player1-hp {
    position: absolute;
    bottom: 20px;

    &.pos-0 {
      left: 0;
    }

    &.pos-1 {
      left: 40%;
    }

    &.pos-2 {
      right: 0;
    }
  }

  .player1-action {
    position: absolute;
    bottom: 10px;
    //background-color: red;
    padding: 10px;
    width: 50px;
    height: 50px;
    --pixel-size: 1; /* Try playing with this value! */


    &.pos-0 {
      left: 0;
    }

    &.pos-1 {
      left: 40%;
    }

    &.pos-2 {
      right: 0;
    }

    &.active-action {
      zoom: 2;
    }
  }


  .player2-pkmn {
    position: absolute;
    top: 10px;

    &.pos-0 {
      left: 0;
    }

    &.pos-1 {
      left: 40%;
    }

    &.pos-2 {
      right: 0;
    }
  }


  .animation-atk-player1-enemy-pos-0 {
    top: 65px;
    bottom: 170px;
    left: 0 !important;
  }

  .animation-atk-player1-enemy-pos-1 {
    top: 65px;
    left: 40% !important;
  }

  .animation-atk-player1-enemy-pos-2 {
    top: 65px;
    bottom: 170px;
    right: 0 !important;
    left: auto !important;
  }


  .animation-atk-player2-enemy-pos-0 {
    top: 165px;
    bottom: 170px;
    left: 0 !important;
  }

  .animation-atk-player2-enemy-pos-1 {
    top: 165px;
    left: 40% !important;
  }

  .animation-atk-player2-enemy-pos-2 {
    top: 165px;
    bottom: 170px;
    right: 0 !important;
    left: auto !important;
  }

  .player2-hp {
    position: absolute;
    top: 10px;

    &.pos-0 {
      left: 0;
    }

    &.pos-1 {
      left: 40%;
    }

    &.pos-2 {
      right: 0;
    }
  }

}
