.pkmn-header{

  .header-human{
    margin-right: -32px;
    z-index: 999;
  }

  .level-up{
    position: absolute;
    right: 24px;
    top: 6px;
    font-size: 16px;
  }

  //
  //.header-pkmn{
  //  margin-right: -16px;
  //}
}
