@import "src/theme/variables";

#explore-page {

  ion-segment {
    max-width: 420px;
    margin: auto;


  }

  @media only screen and (max-width: 380px) {
    ion-segment-button {
        font-size: 10px;
    }
  }

}
