img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.transparent-header {
  &.header-md:after {
    background-image: none;
  }
}

.invisible-button-fix-form{
  background: transparent;
  padding: 0;
}

.btn-fill-clear{
  background: transparent;
  padding: 0;
  border: 0px;
  color: #209cee;
}

.nes-field{
  padding-bottom: 1.5rem;

  .error{
    font-size: 12px;
    color: #ce372b;
    padding-top: 4px;
  }
}

/*Quick and dirty fix to the date picker issue that was not working with ionic modals*/
.MuiDialog-root{
  z-index: 99999 !important;
}
